<template name="chat">
	{{> list_messages}}
	{{> entree_messages}}
	{{> deconnexion}}
</template>



<template name="list_messages">
	<ul>
		{{#each message in messages}}
			<li>
				<p>{{message.name}}: {{message.message}}</p>
			</li>
		{{/each}}
	</ul>
</template>



<template name="message">
	<li>
		<p>{{name}}: {{message}}</p>
	</li>
</template>

<template name="deconnexion">
	<button name="deco" id="deco">Deconnexion</button>
</template>


<template name="entree_messages">
	<form id="ecrire" name="ecrire">
		<input type="text" name="input_text" id="input_text">
	</form>
</template>