<template name="inscription">
	<form id="cliquer" onsubmit="">
		<input type="text" name="input_name" id="input_name">
		<button type="submit" class="button" name="button">Valider</button>
	</form>
</template>
